<!DOCTYPE html>
<head>
    <link href="~/css/InputXMLPage.css" rel="stylesheet" />
</head>



<div class="row">
    <div class="col-md-4">
        <form id="compileForm">
            <div class="containerr">
                <div class="flex-item" style="margin-top:30px">
                    <h2>Input Excel</h2>
                    <input style="margin-left:121px" type="file" class="form-control" id="Input" accept=".xlsx" />

                    <div class="button-container" style="margin-left:122px">
                        <div class="form-group">
                            <input id="compileButton" type="button" value="Parse" class="btn btn-primary" onclick="submitForm()" />
                        </div>

                        <div class="form-group">
                           
                            <button type="button" class="btn btn-danger mb-1" id="btnNext" disabled style="top: 4px;">Next</button>
                        </div>
                    </div>
                </div>
                <div class="flex-item"  style="margin-top:30px">
                    <h2>Output</h2>
                    <div id="Output" class="form-control" style="margin-left:126px; height: 200px; width: 650px; overflow-y: scroll; white-space: pre-wrap; background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">
                    </div>



                </div>
            </div>

            <br />


        </form>
    </div>
</div>

<div class="form-group" style="margin-left:122px;margin-top:10px">
    <h2>View Data</h2>
    <div id="ViewTable" class="form-control" style="height: 273px; width: 1222px; overflow-y: scroll; white-space: pre-wrap; background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">
    </div>
</div>

@*Next Button and Parse button Click*@
<script>
      function submitForm() {

      var fileInput = document.getElementById('Input');
      var file = fileInput.files[0]; // Get the selected file






      if (document.getElementById('Input').value == "") {
          alert("Please Choose Excel File");
          return;
      }

      document.getElementById("compileButton").disabled = true;

      document.getElementById('Output').innerHTML = ""; // Clear previous output
     /* document.getElementById('Schema').innerHTML = ""; */// Clear previous output
      document.getElementById('ViewTable').innerHTML = ""; // Clear previous output

      const form = document.getElementById('compileForm');
      const formData = new FormData(form);

    
      formData.append('input', document.getElementById('Input').value);
      formData.append('file', file);






        fetch('@Url.Action("UploadExcel", "FileSystem")', {
    /*  fetch('/DynamicQuery/CompileQuery', {*/
          method: 'POST',
            body: formData
      })
          .then(response => response.json())
          .then(data => {


              const outputMessages = data.messages;
              outputMessages.forEach(message => {
                  const outputElement = document.getElementById('Output');
                  outputElement.innerHTML += message + "<br>"; // Append each message with a line break

              });


             
              //    // Display view table
              const viewTableElement = document.getElementById('ViewTable');
              viewTableElement.innerHTML = data.viewTable;







              var IsSuccessful = data.isSuccessfullyCompile;
              if (IsSuccessful) {
                  document.getElementById("ExportButton").disabled = false;


                  // Check if ListOfProperty is defined and is an array
                  const listOfProperty = data.listOfProperty;
                  if (Array.isArray(listOfProperty)) {
                      const sourceGridBody = document.querySelector("#SourceGrid tbody");
                      sourceGridBody.innerHTML = ""; // Clear previous content

                      listOfProperty.forEach(property => {
                          const row = document.createElement("tr");

                          const checkboxCell = document.createElement("td");
                          const checkbox = document.createElement("input");
                          checkbox.type = "checkbox";
                          checkboxCell.appendChild(checkbox);

                          const columnNameCell = document.createElement("td");
                          columnNameCell.textContent = property.column_Name;

                          const columnTypeCell = document.createElement("td");
                          columnTypeCell.textContent = property.column_Type;

                          /*row.appendChild(checkboxCell);*/
                          row.appendChild(columnNameCell);
                          row.appendChild(columnTypeCell);

                          sourceGridBody.appendChild(row);
                      });
                  } else {
                      console.error('ListOfProperty is not an array:', listOfProperty);
                  }


                 


              }
              else {
                  document.getElementById("ExportButton").disabled = true;

                  document.getElementById('existingExportOptions').style.display = 'none'; // or 'none' to hide it initially
              }
              document.getElementById("compileButton").disabled = false;

          })
          .catch(error => console.error('Error:', error));

  }




    $('#btnNext').click(function () {
      
        $.ajax({
            url: '/APIConnector/SubmitApi', // Your endpoint for the Submit action
            type: 'POST',
            data: "",
            success: function (response) {
                alert('Submit Successful: ' + JSON.stringify(response, null, 2));
                location.href = "/DataMapping/ProcessingSourceDataView"

                $('#apiresult').val('Submit Successful: ' + JSON.stringify(response, null, 2));
            },
            error: function (xhr, status, error) {
                $('#apiresult').val('Error: ' + xhr.responseText);
            }
        });
    });
</script>






