################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/NetReportBuilder
/.vs/NetReportBuilder/DesignTimeBuild/.dtbcache.v2
/NetReportBuilder.ReportSource/DatabaseConverter.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseConverter.Core.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseConverter.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseConverter.Core.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseInterpreter.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Core.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseInterpreter.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Core.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseInterpreter.Geometry/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Geometry.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseInterpreter.Geometry/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Geometry.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseInterpreter.Model/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Model.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseInterpreter.Utility/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Utility.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseInterpreter.Utility/obj/Debug/net6.0/NetReportBuilder.DatabaseInterpreter.Utility.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseManager.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseManager.Core.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseManager.Core/obj/Debug/net6.0/NetReportBuilder.DatabaseManager.Core.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseManager.Profile/obj/Debug/net6.0/NetReportBuilder.DatabaseManager.Profile.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/DatabaseManager.Profile/obj/Debug/net6.0/NetReportBuilder.DatabaseManager.Profile.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Api/obj/Debug/net6.0/NetReportBuilder.ReportSource.Api.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Api/obj/Debug/net6.0/NetReportBuilder.ReportSource.Api.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Model/obj/Debug/net6.0/NetReportBuilder.ReportSource.Model.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Model/obj/Debug/net6.0/NetReportBuilder.ReportSource.Model.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Repository/obj/Debug/net6.0/NetReportBuilder.ReportSource.Repository.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/NetReportBuilder.ReportSource.Repository/obj/Debug/net6.0/NetReportBuilder.ReportSource.Repository.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/SqlAnalyser.Core/obj/Debug/net6.0/NetReportBuilder.SqlAnalyser.Core.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource/SqlAnalyser.Core/obj/Debug/net6.0/NetReportBuilder.SqlAnalyser.Core.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource/DatabaseConverter.Core/obj
/NetReportBuilder.ReportSource
/.vs/New folder (21)/v17/.wsuo
/.vs/New folder (21)/v17
/.vs/Report Builder Branch/v17/.wsuo
/.vs/NetReportBuilder/v17/.suo
/NetReportBuilder.Etl.Web/bin/Debug/net6.0
/NetReportBuilder.Etl.Web/obj
/NetReportBuilder.ReportUI/bin/Debug/net6.0
/NetReportBuilder.ReportUI/obj
/ReportBuilder Branch2/.vs/ReportBuilder Branch2
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.AssemblyInfo.cs
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.GlobalUsings.g.cs
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.RazorAssemblyInfo.cs
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.AssemblyInfoInputs.cache
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj/Debug/net6.0/NetReportBuilder.ETL.Web.RazorAssemblyInfo.cache
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.AssemblyInfo.cs
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.AssemblyInfoInputs.cache
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.assets.cache
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.csproj.AssemblyReference.cache
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.GeneratedMSBuildEditorConfig.editorconfig
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0/NetReportBuilder.ReportSource.Utility.GlobalUsings.g.cs
/NetReportBuilder.ReportSource.Utility/obj/NetReportBuilder.ReportSource.Utility.csproj.nuget.dgspec.json
/NetReportBuilder.ReportSource.Utility/obj/NetReportBuilder.ReportSource.Utility.csproj.nuget.g.props
/NetReportBuilder.ReportSource.Utility/obj/NetReportBuilder.ReportSource.Utility.csproj.nuget.g.targets
/NetReportBuilder.ReportSource.Utility/obj/project.assets.json
/NetReportBuilder.ReportSource.Utility/obj/project.nuget.cache
/ApiReportBuilder.Model
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/obj
/NetReportBuilder.Etl.Web/wwwroot/PipeLines
/NetReportBuilder.Etl.Web/GlobalSuppressions.cs
/NetReportBuilder.Etl.Web/NetReportBuilder.Etl.Web.csproj.user
/.vs/NetReportBuilder/v17/.futdcache.v2
/.vs/ProjectEvaluation/netreportbuilder.metadata.v7.bin
/.vs/ProjectEvaluation/netreportbuilder.projects.v7.bin
/.vs/VSWorkspaceState.json
/.vs/REPORTBUILDER_25_06/v17
/.vs/NetReportBuilder/config/applicationhost.config
/NetReportBuilder.ReportSource.Utility/bin/Debug/net6.0
/NetReportBuilder.ReportSource.Utility/obj/Debug/net6.0
/NetReportBuilder.Etl/NetReportBuilder.EtlProcess/bin/Debug/net6.0
/.vs/RepoBuilderUpdate/v17
/NetReportBuilder.Etl.Core/obj
/NetReportBuilder.Etl.Core/bin/Debug/net6.0
/NetReportBuilder.Etl.Model/obj
/NetReportBuilder.Etl.Model/bin/Debug/net6.0/NetReportBuilder.Etl.Model.deps.json
/NetReportBuilder.Etl.Model/bin/Debug/net6.0/NetReportBuilder.Etl.Model.dll
/NetReportBuilder.Etl.Model/bin/Debug/net6.0/NetReportBuilder.Etl.Model.pdb
/NetReportBuilder.ReportSource.Utility/bin/Release/net6.0
/NetReportBuilder.ReportSource.Utility/obj/Release/net6.0
/NetReportBuilder.Etl.Model/bin/Debug/net6.0
/.vs/ProjectEvaluation/netreportbuilder.metadata.v6.1
/.vs/ProjectEvaluation/netreportbuilder.projects.v6.1
/.vs/ProjectEvaluation/netreportbuilder.metadata.v6.1
/.vs/ProjectEvaluation
/.vs/ETL/v17/.wsuo
/NetReportBuilder.Etl.Business/obj/Debug/net6.0
/NetReportBuilder.Etl.Business/obj
/NetReportBuilder.Etl.Business/bin/Debug/net6.0/NetReportBuilder.Etl.Business.deps.json
/NetReportBuilder.Etl.Business/bin/Debug/net6.0/NetReportBuilder.Etl.Business.dll
/NetReportBuilder.Etl.Business/bin/Debug/net6.0/NetReportBuilder.Etl.Business.pdb
/NetReportBuilder.Etl.Business/bin/Debug/net6.0
/.vs/Report Builder/v17
/.vs/ReportBuilderUpdate/v17/.wsuo
/.vs/ReportBuilder/v17
