@{
    Layout = null;

}
<!DOCTYPE html>
<head>
    <link href="~/css/InputQueryPage.css" rel="stylesheet" />
</head>
<style>
    .highlight {
        border: 2px solid red;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 1089px;
    }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            .tab button:hover {
                background-color: #ddd;
            }

            .tab button.active {
                background-color: #ccc;
            }

    .tabcontent {
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .schema-content, .viewdata-content {
        height: 150px;
        overflow-y: scroll;
        white-space: pre-wrap;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <form id="compileForm">

            <div class="form-group" style="margin-left:10px;margin-top:-10px">
                <h4>Execute Code Type</h4>
                <select class="form-control" id="Code_Type" style="width:200px">
                    <option value="RDBMS">RDBMS</option>
                    <option value="API">API</option>

                </select>
            </div>



            <div class="containerr">
                <div class="flex-item">


                    <textarea id="Input" placeholder="Wite Code Here.." name="Input" rows="10" cols="70" class="form-control"></textarea>
                </div>
                <div class="flex-item" style="margin-top: -35px">
                    <h2>Output</h2>
                    <div id="Output" class="form-control" style="height: 240px; width: 500px; overflow-y: scroll; white-space: pre-wrap; background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">
                    </div>
                </div>
            </div>




            <div class="button-container" style="margin-bottom: -40px;">
                <div class="form-group">
                    <input id="compileButton" type="button" value="Compile" class="btn btn-primary" onclick="submitForm()" />
                </div>

                <div class="form-group">
                    <input id="ExportButton" type="button" disabled value="Next" class="btn btn-success" onclick="Save()" />
                </div>
            </div>

            <br />


        </form>
    </div>
</div>




<div class="tab">


    <button class="tablinks" onclick="openTab(event, 'ViewData')">View Data</button>
</div>




<div id="ViewTable" class="form-control" style="height: 150px; width:1089px;overflow-y: scroll; white-space: pre-wrap; background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">
</div>












