<form id="connectionForm">
    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-bordered" id="jointable">
                <thead>
                    <tr>
                        <th>Table Name</th>
                        <th>Columns</th>
                        <th>Join Type</th>
                        <th>Table Name</th>
                        <th>Columns</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamically populated rows will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>


    <button type="button" class="btn btn-success mb-3" id="btnSend" style="margin-left:10px" onclick="CloseApplyJoinTransformDataModal()">Add Conditions</button>


</form>