<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportBuilder</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/customcss/mainlayoutcss.css" rel="stylesheet" />
</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-light">
        <nav class="nav flex-column">
            <a class="nav-link" href="/PipelineDashboard/Index">
                <i class="fa fa-cogs"></i> <span class="link-text">ETL</span>
            </a>
            <a class="nav-link" href="/DatabaseConfiguration/Index">
                <i class="fa fa-database"></i> <span class="link-text">QueryBuilder</span>
            </a>
            <a class="nav-link" href="/ReportBuilderUI/ReportPotlate">
                <i class="fa fa-bar-chart"></i> <span class="link-text">ReportBuilder</span>
            </a>
        </nav>
    </div>

    <!-- Content Area -->
    <div id="content" class="flex-grow-2">
        <!-- Header -->
        <header>
            <button class="btn btn-light" id="sidebarCollapse" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </button>
            @* <div class="profile">
                <i class="fa fa-user-circle"></i> Profile
            </div> *@
            <div class="logout">
                <a href="/MAIN/login" class="text-white" title="Logout">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </div>
        </header>

        <!-- Main content -->
        <main role="main">
            <div class="content-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        function toggleSidebar() {
            document.getElementById('sidebar').classList.toggle('collapsed');
        }
    </script>
</body>
</html>
