<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetReportBuilder.ReportUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/reportbuilderui/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/reportbuilderui/NetReportBuilder.ReportUI.styles.css" asp-append-version="true" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
</head>
<body>


    <header class="custom__header">
        <nav class="header_new navbar navbar-expand-sm box-shadow">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between w-100 flex-wrap">
                    <div class="logo_head">
                        <img src="../images/csm-logo.png">
                    </div>
                    <div>
                        <ul class="dropdown__custom">
                            <li class="ai__medhak">
                                <a href="#!" class="profile__pic" title="Redirect to Medhak">
                                    <img src="../images/demouser.png">  AI Medhak...
                                </a>
                            </li>
                            <li class="dropdown-toggle">
                                <span class="profile__pic"> <img src="../images/demouser.png"> </span>
                                <span> Smruti Ranjan Nayak </span>
                                <ul class="dropdown-menu">
                                    <li title="My Profile"> <i class="bi bi-person"></i>  My Profile </li>
                                    <li title="Setting"> <i class="bi bi-gear"></i>   Settings</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ReportBuilder</a> -->
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>


                   <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav flex-grow-1">
                   <li class="nav-item">
                       <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                   </li>
                   </ul>
                   </div> -->
            </div>
        </nav>
    </header>




    <div class="container-fluid wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - NetReportBuilder.ReportUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.highcharts.com/highcharts.js"></script>
    @*<script src="https://code.highcharts.com/modules/data.js"></script>*@
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
