.btnadd {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

    .btnadd:hover {
        background-color: midnightblue;
        color: white;
    }


.nav-tabs .nav-link {
    color: black;
    font-weight: bold;
}

    .nav-tabs .nav-link.active {
        background-color: dodgerblue;
        border-bottom: 2px solid black;
    }

.nav-tabs:hover {
    color: white;
}

.nav-tabs {
    background-color: dodgerblue;
}

.modal-footer {
    background-color: antiquewhite;
    border-top: 2px solid black;
    padding: 5px !important;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.ScrollStyle {
    max-height: 440px;
    overflow-y: scroll;
}

.active {
    background-color: lightskyblue;
}

.top {
    height: 50vh;
}

.bottom {
    height: 25vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: inset;
}
